<p style="margin: 0;">
    <mat-toolbar style="background-color: greenyellow; color: rgba(11, 11, 11, 0.525);" >
      <button (click)="menuIconClicked()" mat-icon-button class="example-icon ms-4" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ms-5">A<span class="text-green-900 text-4xl">2</span>Z Health Care</span>
      <span class="example-spacer"></span>
      
      <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" class="ms-auto me-5">
        <mat-icon>person</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            Log-Out</button>
        </mat-menu>
      </button>
    </mat-toolbar>
  </p>
  
