<div class="flex flex-row justify-center bg-white p-10">
    <div class="image  me-24">
     <img style="height: 520px;width: 480px;"  src="https://cdn.dribbble.com/users/1602563/screenshots/8869646/media/ddc33ce2c8e2570c410123f375e2c35c.gif" alt="">
    </div>

    <div class="form w-96 p-3 bg-slate-50 rounded-lg shadow-xl">
        <form >
            <div class="my-4"><p class="heading text-3xl text-green-600">Book Your Appointment</p></div>
          <div class="name flex flex-row">
            <div class="first-name">
                <label for="">First Name</label>
                <input type="text" class="ps-1 border border-green-800 rounded-lg w-full h-7 shadow-lg">
            </div>
            <div class="last-name ms-2">
                <label for="">Last Name</label>
                <input type="text" class=" ps-1 border border-green-800 rounded-lg w-full h-7 shadow-lg">
            </div>
          </div>
          <div class="address my-3">
            <label for="">Address</label>
            <input type="text" class="ps-1 border border-green-800 rounded-lg w-full h-7 shadow-lg">
          </div>
          <div class="email my-3">
            <label for="">email</label>
            <input type="email" class="ps-1 border border-green-800 rounded-lg w-full h-7 shadow-lg">
          </div>
          <div class="mobile my-4">
            <label for="">Mobile</label>
            <input type="text" class="ps-1 border border-green-800 rounded-lg w-full h-7 shadow-lg">
          </div>
          <div class="specialist my-4">
            <label for="">Specialist</label>
            <select class="border border-green-800 rounded-lg w-full h-7 shadow-lg " name="" id="">
                <option class="bg-green-600 text-white" value="">Select</option>
                <option class="bg-green-600 text-white" value="">Cardio</option>
                <option class="bg-green-600 text-white" value="">Ortho</option>
                <option class="bg-green-600 text-white" value="">Pediatretian</option>
                <option class="bg-green-600 text-white" value="">Nephro</option>
            </select>
          </div>
          <div class="date my-4">
            <label for="">Date</label>
            <input class="border border-green-800 rounded-lg w-full h-7 shadow-lg" type="date">
          </div>
          <div class="button text-center my-4">
            <button class="border border-none bg-green-500 text-white p-2 rounded-lg shadow-lg hover:text-green-800 hover:bg-white hover:border-2 hover:border-green-800">Book Appointment</button>
          </div>

        </form>
    </div>
</div>
