<div class="flex flex-row justify-center mb-10">
    <div class="form p-5 bg-slate-50 rounded-lg shadow-xl mt-8">
        <div class="address my-3">
            <label for="">Name</label>
            <input type="text" class="ps-1 border border-green-800 rounded-lg w-full h-7 shadow-lg">
          </div>
          <div class="email my-3">
            <label for="">email</label>
            <input type="email" class="ps-1 border border-green-800 rounded-lg w-full h-7 shadow-lg">
          </div>
          <div class="mobile my-4">
            <label for="">Mobile</label>
            <input type="text" class="ps-1 border border-green-800 rounded-lg w-full h-7 shadow-lg">
          </div>
          <div class="mobile my-4">
            <label for="">Feed Back</label>
            <textarea class="ps-1 border border-green-800 rounded-lg w-full h-7 shadow-lg" name="" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="button text-center my-4">
            <button class="border border-none bg-green-500 text-white p-2 rounded-lg shadow-lg hover:text-green-800 hover:bg-white hover:border-2 hover:border-green-800">Book Appointment</button>
          </div>
    </div>
    <div class="map ms-10 mt-16 rounded-xl overflow-hidden">
        <iframe width="400" height="280" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=51.50003001688112~-0.12626346556455115&lvl=9.62&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
        </iframe>
        <div style="white-space: nowrap; text-align: center; width: 150px; padding: 6px 0;">
           <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=51.50003001688112~-0.12626346556455115&amp;sty=r&amp;lvl=9.62&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
           <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=51.50003001688112~-0.12626346556455115&amp;sty=r&amp;lvl=9.62&amp;rtp=~pos.51.50003001688112_-0.12626346556455115____&amp;FORM=MBEDLD">Get Directions</a>
       </div>
    </div>
</div>
<mat-divider ></mat-divider>

<div class="contact flex  justify-center  text-red-600 p-3 bg-green-200 mt-8">
    <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path  fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
      </svg><span class="ms-6 text-lg text-black">1514-5984-4164</span>
      
</div>

