<div class="heading">
    <div class="image overflow-hidden border-l-2-green">
      <img height="80px" width="100%" src="https://i.pinimg.com/originals/2a/35/b1/2a35b15e65c10785fb21d0f7a63e1a72.jpg" alt="">
    </div>
    <mat-divider class="border-2 border-green-700"></mat-divider>
    <div class="title flex flex-col  ">
        <a routerLink="/" class="p-5 text-gray-700 hover:bg-green-600 hover:text-white" href="">Home</a>       
         <a routerLink="doctors" class="p-5 text-gray-700 hover:bg-green-600 hover:text-white" href="">Doctors</a>
        <a routerLink="/appointments" class="p-5 text-gray-700 hover:bg-green-600 hover:text-white" href="">Book Appointment</a>
        <a routerLink="gallery" class="p-5 text-gray-700 hover:bg-green-600 hover:text-white" href="">Gallery</a>
        <a routerLink="/contact" class="p-5 text-gray-700 hover:bg-green-600 hover:text-white" href="">Contact</a>
  </div>
  <mat-divider class="border-2 border-green-700"></mat-divider>

</div>
